!!!
%html
  %head
    = csrf_meta_tags
    = csp_meta_tag
    %title Purple Sea UX / UI
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'https://fonts.googleapis.com/css2?family=Kanit:wght@800;900&display=swap', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap', media: 'all', 'data-turbolinks-track' => true
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"}


  %body
    :javascript
      $(document).ready(function(){
        $(".landing img").click(function(){
          $( ".landing" ).hide();
          $( ".ucd h1, .ucd p, .ucd img" ).show();
          $( ".ucd video" ).animate({
            opacity: 1}, 1500 );
        });
        $(".ucd img").click(function(){
          $( ".ucd" ).hide();
          $( ".ecommerce h1, .ecommerce p, .ecommerce img" ).show();
          $( ".ecommerce video" ).animate({
            opacity: 1}, 1500 );
        });
        $(".ecommerce img").click(function(){
          $( ".ecommerce" ).hide();
          $( ".business-systems h1, .business-systems p, .business-systems img" ).show();
          $( ".business-systems video" ).animate({
            opacity: 1}, 1500 );
        });
      });

    :javascript
      $(document).ready(function(){
        var screen = $( window ).height();
        var page = $( document ).height();
        if (page > screen) {
          $("#footer").addClass("non-sticky");
        }
        var pathname = window.location.pathname;
        if (pathname == '/') {
          $("#footer").addClass("white")
        };
      });

    = render partial: 'layouts/header'
    #site-container
      = yield
      = render partial: 'layouts/footer'