!!!
%html
  %head
    = csrf_meta_tags
    = csp_meta_tag
    %title Purple Sea UX / UI
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render partial: 'layouts/header'
    = yield